.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    margin: 8px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item > span {
    background: rgba(255, 255, 255, 0.459);
    padding: 6px;
}